@id("DeveloperCanUpdateView")
permit (
  principal in Jans::Role::"developer",
  action in [Jans::Action::"Update",
  Jans::Action::"View"],
  resource is Jans::VirtualMachine
);