@id("BasicPlanAccessAIConversationTool")
permit (
    principal,
    action in [Jans::Action::"Conversation"],
    resource is Jans::AItools
) when {
    principal.plan == "basic"    
};
